################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Apprentice-Practice/CopilotIndices/17.14.794.21998
/.vs/Apprentice-Practice/FileContentIndex
/.vs/Apprentice-Practice/v17
